<%- include('partials/header');-%>
<h1>About</h1>
<p>
    <!-- <%= about%> -->
    nothing MUCH to say about Us 

</p>
<img src="http://localhost:3000/public/img/main.jpg">
<%- include('partials/footer');-%>